<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8" />
        <title>{% block title %}Actividades{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    	<style>

    		.boton {    		
    		}

			h2 {
			    color: black;
			    text-align: center;
			    border-style: solid;
			    border-width: medium;
				border-color:orange;

			}

			p {
			    font-family: "Times New Roman";
			    font-size: 15px;
				
			}
			hr{
				color: orange;
			}


		
		</style>
       
    </head>
    <body>
    
        {% block body %}

		
        <h2>Formulario de alta de edición: </h2>

		{{ form_start(form) }}
		<h3>Fecha de la actividad: </h3>	    
		    {{ form_row(form.fechaEdicion) }}
		    <br/>
		 <h3>Selecciona el grupo que asistirá:</h3>
		    {{ form_row(form.idciclo) }}				 		    
		    <br/>

		 {# Para insertar el listado de grupos: #}    
		 <p> {{ render(controller('AppBundle:Alta:Grupos')) }} </p>

		 <h3> Observaciones:</h3>  
		   
 			{{ form_row(form.observaciones) }}
   		<h3>¿Asistirán menores de edad?</h3>
   			{{ form_row(form.menoresEdad) }}
   		  		   
		    <br/>
		       
   		{{ form_end(form) }}


        {% endblock %}
   <hr><hr>
   <a href="/alta">Volver atrás</a>&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="/logout">Logout</a>
    </body>
</html>
