<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}
       
        {% block javascripts %}{% endblock %}

        <h3>ALTA DE UNA EDICIÓN:</h3>
        <br/><br/>
       
        <div class="boton">
            <a href="/consulta_actividades">Seleccionar una actividad existente</a>
        </div> 
        <br/><br/>


        <div class="boton">
            <a href="/crear_actividades">Crea una actividad nueva</a>
        </div> 
        <br/><br/>

   
{#

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.actividadactividad) }}
        {{ form_row(form.fechaEdicion) }}
        

    {{ form_end(form) }}
    
        <P>* Obligatorio nombre y fecha</P>
  #}     
        {% endblock %}

    <hr><hr>
    <a href="/inicio">Volver al inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">Logout</a>
    </body>
</html>
