<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
 <style>

            .boton {            
            }

            h2 {
                color: black;
                text-align: center;
                border-style: solid;
                border-width: medium;
                border-color:orange;

            }

            p {
                font-family: "Times New Roman";
                font-size: 15px;
                
            }
            hr{
                color: orange;
            }


        
        </style>
    </head>
    <body>

        {% block body %}
       
        {% block javascripts %}{% endblock %}

        <h2>ALTA DE UNA EDICIÓN:</h2>
            <p> Antes de dar de alta una edición, hay que crear la actividad asociada. <br> Comprueba que la actividad ya existe y si no, creala: </p>
       
        <div class="boton">
            <a href="/consulta_actividades">Seleccionar una actividad existente</a>
        </div> 
        <br/><br/>


        <div class="boton">
            <a href="/crear_actividades">Crea una actividad nueva</a>
        </div> 
        <br/><br/>

   
{#

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.actividadactividad) }}
        {{ form_row(form.fechaEdicion) }}
        

    {{ form_end(form) }}
    
        <P>* Obligatorio nombre y fecha</P>
  #}     
        {% endblock %}

    <hr><hr>
    <a href="/inicio">Volver al inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">Logout</a>
    </body>
</html>
